.tab-header {
    display: flex;
    border: 1px solid black;
    border-bottom: none;
    width: fit-content;
}

.tab-header > button {
    padding: 8px;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.tab-header > button:hover {
    background-color: lightgrey;
}

.tab-header h2 {
    margin: 0;
}

.tab-body {
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
