/* :host(.book-form) {
    background-color: aquamarine;
    padding: 2px;
    border: 1px solid black;
} */

h1 {
    border: 1px solid black;
    border-bottom: none;
    margin: 0;
    padding: 16px;
}

form {
    border: 1px solid black;
    border-top: none;
    padding: 16px;
}

form input[type="submit"] {
    display: flex;
    margin-top: 32px;
    margin-left: auto;
}